.panel {
  display: inline-block;
  margin-left: 20%;
  margin-top: 60px;
  width: 80%;
  vertical-align: top;
  border-radius: 5px;
  background: #F0F0F0;

  &__search-box {
    display: inline-block;
    width: 30%;
    vertical-align: middle;

    &:last-child {
      width: 10%;
    }
  }

  &__container {
    padding: 70px 10px 25px 3%;
  }

  &__title {
    font-size: 20px;
    padding: 20px 20px 20px 3%;
    background: $white-color;
    border-bottom: 1px solid #C2C2C2;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 11;
  }

  &__content {
    margin-top: 10px;
    border-radius: 5px;
    background: $white-color;
    border: solid 1px #C2C2C2;
  }

  &__search {
    position: relative;
    padding: 20px 0 40px;
  }

  &__search-label {
    display: inline-block;
    margin-right: 5%;
    width: 20%;
    font-size: $secondary-fontsize;
    color: $primary-color;
    vertical-align: middle;
    text-align: center;
  }

  &__search-input {
    display: inline-block;
    width: 65%;
    padding: 8px;
    border-radius: 5px;
    vertical-align: middle;
    border: 1px solid $light-gray;
  }

  &__search-button {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #1F6DA8;
    color: $white-color;
  }

  &__add-attendance {
    position: absolute;
    right: 0;
    bottom: 17px;
    z-index: 2;
  }

  &__print-button {
    display: block;
    text-align: right;
    padding: 20px 0 10px;
  }
}

.panel__search.panel__search--list-view {
  text-align: right;
  position: absolute;
  right: 0;
  top: 20px;
  width: 85%;

  .panel__search-box {
    &:first-child {
      width: 60%;
    }
  }
}

.panel__content.panel__content--users {
  border: none;
  box-shadow: 0px 1px 10px #A7B6BC;
}