.button {
  padding: 10px;
  font-size: $secondary-fontsize;
  border-radius: 5px;
  border: 1px solid $light-gray;
  outline: none;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    transition: 0.2s;
    opacity: 1;
  }
}

.button.button--submit {
  width: 25%;
  background-color: $secondary-color;
  color: $white-color;
}

.button.button--add {
  display: inline-block;
  text-align: center;
  width: 30%;
  background-color: #1F6DA8;
  color: $white-color;
}

.button.button--link {
  display: block;
  background-color: #1F6DA8;
  color: $white-color;
}

.button.button--add-attendance {
  background-color: #1F6DA8;
  color: $white-color;
}

.button.button--disabled {
  opacity: 0.2;
}

.button.button--addform {
  padding: 5px 40px;
  background: #335CF9;
  color: #FFFFFF;
}