.form {

  &__content {
    padding: 15px;
  }

  &__title {
    padding: 15px 0 10px;
    font-size: $form-title;
    color: $primary-color;
    border-bottom: 1px dotted $tertiary-color;
  }

  &__label-wrapper {
    display: inline-block;
    width: 100%;
    font-size: $secondary-fontsize;
    padding: 8px 0;
    vertical-align: top;
  }

  &__input {
    display: inline-block;
    width: 75%;
    vertical-align: top;
  }

  &__inputbox {
    width: 100%;
    border: 1px solid $light-gray;
    padding: 8px;
    border-radius: 5px;
  }

  &__data {
    padding: 25px 15px;
  }

  &__info {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  &__uploadimage {
    position: relative;
  }

  &__hidden-upload {
    visibility: hidden;
  }

  &__uploadinput {
    position: absolute;
    left: 50px;
    top: 50px;
    background: $white-color;
    border: 1px solid $light-gray;
    width: 55%;
    padding: 5px;
  }

  &__upload {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-left: 20px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 130px;
  }

  &__list {
    display: inline-block;
    width: 50%;
    padding-bottom: 5px;
  }

  &__error {
    display: block;
    color: #FF0000;
    font-size: $tertiary-fontsize;
    padding: 5px 0;
  }

  &__inputdate {
    border: 1px solid $light-gray;
    padding: 8px;
    border-radius: 5px;
    width: 70%;
  }

  &__button {
    padding-top: 50px;
    text-align: center;
  }
}

.form__input.form__input--fullwidth {
  width: 83%;
}

.form__list.form__list--enumerate {
  width: 100%;

  .form__input {
    width: 100%;
    padding-bottom: 5px;

    &::before {
      display: inline-block;
      margin: 0 30px;
      width: 5px;
      content: '';
      height: 5px;
      border-radius: 50%;
      background: $primary-color;
    }
  }

  .form__inputbox {
    width: 90%;
  }
}

.form__info {
  .form__list {
    display: inline-block;
    width: 33.3%;
  }

  .form__input {
    width: 85%;
  }
}

.form__list.form__list--uploadimage {
  width: 100%;
  padding: 20px 0;
}
