.button {
  padding: 10px;
  font-size: $secondary-fontsize;
  border-radius: 5px;
  border: 1px solid $light-gray;
  outline: none;
  cursor: pointer;
}

.button.button--submit {
  width: 25%;
  background-color: #341A94;
  color: $white-color;
}
