.apply-now {
  height: 100%;
  width: 100%;

  &__container {
    margin: 2% auto 5%;
    max-width: 700px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 8px 6px 14px #8B8B8B;
  }

  &__title {
    font-size: 18px;
    padding: 20px 20px 5px;
  }
}