.header {
  background: $primary-color;

  &__content {
    margin: 0 auto;
    max-width: 1300px;
    padding: 35px 10px 25px;
  }

  &__logo {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    padding-left: 100px;
  }

  &__control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: right;
  }

  &__logo-image {
    width: 75px;
  }

  &__control-link {
    margin-right: 20px;
    color: $white-color;
    font-size: $default-fontsize;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }
}
