.table {

  &__head {
    background-color: $secondary-color;
    font-size: 0;
  }

  &__head-list,
  &__body-list {
    display: table-cell;
    width: 12.5%;
    vertical-align: middle;
    font-size: $tertiary-fontsize;
    text-align: center;
    color: $white-color;
    line-height: 1.5em;
  }

  &__body {
    &:nth-child(odd) {
      background: #EFFAFF;
      border-top: 1px solid $tertiary-color;
      border-bottom: 1px solid $tertiary-color;
    }

    &:last-child {
      border-bottom: none;
    };
  }

  &__body-list {
    color: $tertiary-color;
  }

  &__view {
    display: inline-block;
    margin-left: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.4s;
    background: #FFA500;
    padding: 4px 10px;
    border-radius: 5px;

    &:hover {
      opacity: 0.3;
    }
  }

  &__note {
    color: #FF0000;
  }

  &__body-span {
    display: block;
  }
}

.table.table--attendance-view {
  .table__head-list,
  .table__body-list {
    display: table-cell;
    padding: inherit;
  }
}

.table__note.table__note--leave {
  color: #12FF00;
}

.table__note.table__note--present {
  color: #049FDA;
}

.table__view.table__view--decline {
  background: #FF0000;
}

.table__view.table__view--edit {
  background: #049FDA;
}

.table__view.table__view--delete {
  background: #FF0000;
}

.table.table--report {
  th {
    border: 1px solid #E8E8E8;
  }
}