.modal {
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 34;
  height: 100%;

  &__container {
    margin: 30px auto 0;
    width: 60%;
    background: #FFFFFF;
    border-radius: 7px;
    height: 600px;
  }

  &__header {
    position: relative;
  }

  &__close {
    position: absolute;
    right: 15px;
    font-size: 25px;
    top: 10px;
    font-weight: 600;
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
    padding: 20px 30px 10px;
    border-bottom: 1px solid #024E6C;
  }

  &__button {
    padding-top: 20px;
    text-align: center;
  }
}
