.calendar {
  padding: 5px 100px 100px;

  &__list-weeks {
    display: inline-block;
    width: 14.28%;
    vertical-align: top;
    text-align: center;
    border: 1px solid #EEEEEE;
    padding: 10px;
    border-right: none;
    background: #EEEEEE;

    &:last-child {
      border-right: 1px solid #EEEEEE;
    }
  }

  &__weeks-day {
    font-size: 14px;
  }

  &__days-number {
    padding: 20px 20px 50px;
    border: 1px solid #EEEEEE;
    border-right: none;
    font-size: 14px;
    position: relative;
  }

  &__days-list {
    display: inline-block;
    width: 14.28%;
    vertical-align: top;
    text-align: right;

    &:last-child {
      .calendar__days-number {
        border-right: 1px solid #EEEEEE;
      }
    }
  }

  &__title {
    padding: 20px 0;
  }

  &__arrow {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
  }

  &__month-name {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
  }

  &__tab {
    text-align: center;
    padding-bottom: 20px;
  }

  &__tab-list {
    display: inline-block;
    margin-right: 5px;
    width: 15%;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
  }
}

.calendar__arrow.calendar__arrow--next {
  text-align: right;
}

.calendar__days-number.calendar__days-number--current {
  color: #FF0000;
  font-weight: bold;
  background: rgba(190, 232, 248, 0.2)
}

.calendar__tab-list.calendar__tab-list--active {
  background: #049FDA;
  color: #FFFFFF;
  border-radius: 3px;
}
