.form {

  &__content {
    padding: 15px;
  }

  &__title {
    padding: 15px 0 10px;
    font-size: $form-title;
    color: $primary-color;
    border-bottom: 1px dotted $tertiary-color;
  }

  &__label-wrapper {
    display: inline-block;
    width: 100%;
    font-size: $secondary-fontsize;
    padding: 8px 0;
    vertical-align: top;
  }

  &__input {
    display: inline-block;
    width: 75%;
    vertical-align: top;
  }

  &__inputbox {
    width: 100%;
    border: 1px solid $light-gray;
    padding: 8px;
    border-radius: 5px;
  }

  &__data {
    padding: 25px 15px;
  }

  &__info {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  &__uploadimage {
    position: relative;
  }

  &__hidden-upload {
    visibility: hidden;
  }

  &__uploadinput {
    position: absolute;
    left: 50px;
    top: 50px;
    background: $white-color;
    border: 1px solid $light-gray;
    width: 55%;
    padding: 5px;
  }

  &__upload {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-left: 20px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 130px;
  }

  &__list {
    display: inline-block;
    width: 50%;
    padding-bottom: 5px;
  }

  &__error {
    display: block;
    color: #FF0000;
    font-size: $tertiary-fontsize;
    padding: 5px 0;
  }

  &__inputdate {
    border: 1px solid $light-gray;
    padding: 8px;
    border-radius: 5px;
    width: 70%;
  }

  &__button {
    padding-top: 50px;
    text-align: center;
  }


  &__input-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }

  &__input-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  &__checkbox {
    display: inline-block;
    width: 33%;
    padding: 10px 0;
    vertical-align: middle;
  }

  &__textarea {
    width: 100%;
    border: 1px solid $light-gray;
    padding: 8px;
    border-radius: 5px;
    height: 100px;
    resize: none;
  }

  &__add-input {
    display: block;
    margin: 20px auto 0;
    width: 52%;
    text-align: right;
  }

  &__remove {
    font-size: 18px;
    position: absolute;
    top: 10%;
    right: -30px;
    color: #FF0000;
    cursor: pointer;
  }

  &__upload-picture {
    object-fit: cover;
    width: 150px;
    height: 150px;
  }

  &__upload-image {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
  }

  &__list-image {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
  }

  &__label {
    display: block;
    font-size: $default-fontsize;
    padding-bottom: 5px;
  }
}

.form__input.form__input--fullwidth {
  width: 83%;
}

.form__list.form__list--enumerate {
  width: 100%;

  .form__input {
    width: 100%;
    padding-bottom: 5px;

    &::before {
      display: inline-block;
      margin: 0 30px;
      width: 5px;
      content: '';
      height: 5px;
      border-radius: 50%;
      background: $primary-color;
    }
  }

  .form__inputbox {
    width: 90%;
  }
}

.form__info {
  .form__list {
    display: inline-block;
    width: 33.3%;
  }

  .form__input {
    width: 85%;
  }
}

.form__list.form__list--uploadimage {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.form__data.form__data--modal {
  padding: 5px 15px;
}

.form__list.form__list--checkbox {
  display: block;
  width: 100%;
}

.form__list.form__list--center {
  display: block;
  margin: 0 auto;
  width: 65%;
  text-align: center;

  .form__label-wrapper {
    text-align: left;
    padding: 10px 65px;
  }

  .form__input {
    width: 80%;
    position: relative;
    text-align: left;
  }
}

.form__inputbox.form__inputbox--textarea {
  height: 50px;
  resize: none;
  width: 100%;
}

.form__list.form__list--block {
  display: block;
  margin: 20px auto 0;
}

.form__content.form__content--block {
  display: block;
  padding-top: 100px;
}

.form__list.form__list--date {
  display: block;
}
