.modal {
  width: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 34;
  height: 100%;
  transition: 0.5s;

  &__container {
    margin: 30px auto 0;
    width: 60%;
    background: #FFFFFF;
    border-radius: 7px;
    height: 300px;
  }

  &__header {
    position: relative;
  }

  &__close {
    position: absolute;
    right: 15px;
    font-size: 25px;
    top: 10px;
    font-weight: 600;
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
    padding: 20px 30px 10px;
    border-bottom: 1px solid #024E6C;
  }

  &__button {
    padding-top: 50px;
    text-align: center;
  }

  &__content-text {
    font-size: 16px;
    padding: 30px 50px 80px;
  }
}

.modal__container.modal__container--forgot-password {
  width: 44%;
  height: 320px;
}

.modal__container.modal__container--confirm {
  height: 250px;

  .modal__button {
    border-top: 1px solid #CCCCCC;
  }
}
