.panel {
  display: inline-block;
  width: 76%;
  vertical-align: top;
  border-radius: 5px;
  border: 2px solid $white-color;
  padding: 10px;
  background: $secondary-color;

  &__select {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-right: 1%;
  }

  &__selectbox {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $light-gray;
    padding: 0 5px;
  }

  &__searchbox {
    display: inline-block;
    width: 79%;
  }

  &__search-input {
    width: 100%;
    padding: 16px 10px;
    border-radius: 5px;
    border: 1px solid $light-gray;
    font-size: 14px;
  }
}