.sidebar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  background: #4CB1D7;
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  z-index: 2;

  &__item {
    display: inline-block;
    width: 100%;
    background: #4CB1D7;
    font-size: $secondary-fontsize;
    padding: 18px 20px;
    cursor: pointer;
    color: $white-color;
    transition: 0.4s;

    &:hover {
      background: #F0F0F0;
      color: $secondary-color;
    }
  }

  &__image {
    text-align: center;
    padding: 20px 0;
  }

  &__user-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__content {
    padding: 20px 0;
  }

  &__name {
    display: block;
    padding: 20px 0 50px;
    border-bottom: 1px dotted $white-color;
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-size: x-large;
  }

  &__icon-right {
    float: right;
    padding-top: 5px;
  }

  &__user-name,
  &__position {
    display: block;
    font-size: $default-fontsize;
    color: $white-color;
    text-align: center;
    padding: 3px;
  }

  &__position {
    font-size: $tertiary-fontsize;
  }

  &__information {
    padding: 20px 0;
  }

  &__information-list {
    display: block;
    padding: 10px;
  }

  &__information-data {
    margin-right: 10px;
    font-size: $secondary-fontsize;
    color: $white-color;
  }

  &__sub-list {
    display: none;
  }

  &__text {
    vertical-align: middle;
  }
}

.sidebar__item-list {
  .sidebar__item {
    padding-left: 56px;
  }
}

.sidebar__icon.sidebar__icon--sub {
  margin: 0;
  font-size: medium;
}
