.table {

  &__head {
    background-color: $secondary-color;
    font-size: 0;
  }

  &__head-list,
  &__body-list {
    display: inline-block;
    width: 12.5%;
    vertical-align: top;
    font-size: $tertiary-fontsize;
    text-align: center;
    color: $white-color;
  }

  &__body {
    &:nth-child(odd) {
      background: #EFFAFF;
      border-top: 1px solid $tertiary-color;
      border-bottom: 1px solid $tertiary-color;
    }

    &:last-child {
      border-bottom: none;
    };
  }

  &__body-list {
    color: $tertiary-color;
  }

  &__view {
    margin-left: 10px;
    color: $secondary-color;
    cursor: pointer;
  }

  &__note {
    color: #FF0000;
  }
}