/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*COLORS*/
/*FONTSIZE*/
* {
  box-sizing: border-box; }

body {
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 0;
  background: #EDF4F0; }

a {
  text-decoration: none; }

.jFiler-input-dragDrop {
  width: 600px;
  padding: 70px; }

/*components*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #EDF4F0;
  z-index: 10; }
  .header__content {
    margin: 0 auto 1px;
    padding: 20px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.23); }
  .header__logo {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    padding-left: 100px; }
  .header__company-name {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: 20px;
    color: #2D3134; }
  .header__control {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: right; }
  .header__logo-image {
    width: 75px; }
  .header__control-link {
    margin-right: 20px;
    color: #2D3134;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 2px; }
    .header__control-link:hover {
      color: #049FDA;
      border-bottom: 1px solid #049FDA; }
    .header__control-link:last-child {
      margin-right: 0; }

.main-content {
  position: relative; }
  .main-content__content {
    margin: 0 auto;
    position: relative;
    z-index: 2; }

.sidebar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding: 20px 0;
  background: #049FDA;
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  z-index: 2; }
  .sidebar__item {
    display: inline-block;
    width: 100%;
    background: #049FDA;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    color: #FFFFFF; }
    .sidebar__item:hover {
      background: #F0F0F0;
      color: #049FDA; }
  .sidebar__image {
    text-align: center;
    padding: 20px 0; }
  .sidebar__user-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%; }
  .sidebar__content {
    padding: 20px 0; }
  .sidebar__name {
    display: block;
    padding: 20px 0 50px;
    border-bottom: 1px dotted #FFFFFF; }
  .sidebar__icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-size: x-large; }
  .sidebar__icon-right {
    float: right;
    padding-top: 5px; }
  .sidebar__user-name, .sidebar__position {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 3px; }
  .sidebar__position {
    font-size: 12px; }
  .sidebar__information {
    padding: 20px 0; }
  .sidebar__information-list {
    display: block;
    padding: 10px; }
  .sidebar__information-data {
    margin-right: 10px;
    font-size: 14px;
    color: #FFFFFF; }
  .sidebar__sub-list {
    display: none; }

.sidebar__item-list .sidebar__item {
  padding-left: 56px; }

.panel {
  display: inline-block;
  margin-left: 20%;
  margin-top: 60px;
  width: 80%;
  vertical-align: top;
  border-radius: 5px;
  background: #F0F0F0; }
  .panel__search-box {
    display: inline-block;
    width: 30%;
    vertical-align: middle; }
    .panel__search-box:last-child {
      width: 10%; }
  .panel__container {
    padding: 70px 10px 10px 3%; }
  .panel__title {
    font-size: 20px;
    padding: 20px 20px 20px 3%;
    background: #FFFFFF;
    border-bottom: 1px solid #C2C2C2;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 11; }
  .panel__content {
    margin-top: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    border: solid 1px #C2C2C2; }
  .panel__search {
    padding: 15px 0; }
  .panel__search-label {
    display: inline-block;
    margin-right: 5%;
    width: 20%;
    font-size: 14px;
    color: #2D3134;
    vertical-align: middle;
    text-align: center; }
  .panel__search-input {
    display: inline-block;
    width: 65%;
    padding: 8px;
    border-radius: 5px;
    vertical-align: middle;
    border: 1px solid #C4C5C3; }
  .panel__search-button {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer; }

.panel__search.panel__search--list-view {
  text-align: center; }
  .panel__search.panel__search--list-view .panel__search-box:first-child {
    width: 60%; }

.form__content {
  padding: 15px; }

.form__title {
  padding: 15px 0 10px;
  font-size: 18px;
  color: #2D3134;
  border-bottom: 1px dotted #666666; }

.form__label-wrapper {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  padding: 8px 0;
  vertical-align: top; }

.form__input {
  display: inline-block;
  width: 75%;
  vertical-align: top; }

.form__inputbox {
  width: 100%;
  border: 1px solid #C4C5C3;
  padding: 8px;
  border-radius: 5px; }

.form__data {
  padding: 25px 15px; }

.form__info {
  display: inline-block;
  width: 100%;
  vertical-align: top; }

.form__uploadimage {
  position: relative; }

.form__hidden-upload {
  visibility: hidden; }

.form__uploadinput {
  position: absolute;
  left: 50px;
  top: 50px;
  background: #FFFFFF;
  border: 1px solid #C4C5C3;
  width: 55%;
  padding: 5px; }

.form__upload {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding-left: 20px; }

.form__image {
  width: 100%;
  object-fit: cover;
  height: 130px; }

.form__list {
  display: inline-block;
  width: 50%;
  padding-bottom: 5px; }

.form__error {
  display: block;
  color: #FF0000;
  font-size: 12px;
  padding: 5px 0; }

.form__inputdate {
  border: 1px solid #C4C5C3;
  padding: 8px;
  border-radius: 5px;
  width: 70%; }

.form__button {
  padding-top: 50px;
  text-align: center; }

.form__input-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px; }

.form__input-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.form__checkbox {
  display: inline-block;
  width: 33%;
  padding: 10px 0;
  vertical-align: middle; }

.form__textarea {
  width: 100%;
  border: 1px solid #C4C5C3;
  padding: 8px;
  border-radius: 5px;
  height: 100px;
  resize: none; }

.form__add-input {
  display: block;
  margin: 10px auto 0;
  width: 80%;
  text-align: right; }

.form__remove {
  font-size: 18px;
  position: absolute;
  top: 10%;
  right: -30px;
  color: #FF0000;
  cursor: pointer; }

.form__input.form__input--fullwidth {
  width: 83%; }

.form__list.form__list--enumerate {
  width: 100%; }
  .form__list.form__list--enumerate .form__input {
    width: 100%;
    padding-bottom: 5px; }
    .form__list.form__list--enumerate .form__input::before {
      display: inline-block;
      margin: 0 30px;
      width: 5px;
      content: '';
      height: 5px;
      border-radius: 50%;
      background: #2D3134; }
  .form__list.form__list--enumerate .form__inputbox {
    width: 90%; }

.form__info .form__list {
  display: inline-block;
  width: 33.3%; }

.form__info .form__input {
  width: 85%; }

.form__list.form__list--uploadimage {
  width: 100%;
  padding: 20px 0; }

.form__data.form__data--modal {
  padding: 5px 15px; }

.form__list.form__list--checkbox {
  display: block;
  width: 100%; }

.form__list.form__list--center {
  display: block;
  margin: 0 auto;
  width: 80%; }
  .form__list.form__list--center .form__label-wrapper {
    width: 20%; }
  .form__list.form__list--center .form__input {
    width: 80%;
    position: relative; }

.button {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #C4C5C3;
  outline: none;
  cursor: pointer;
  opacity: 0.8; }
  .button:hover {
    transition: 0.2s;
    opacity: 1; }

.button.button--submit {
  width: 25%;
  background-color: #049FDA;
  color: #FFFFFF; }

.button.button--add {
  display: inline-block;
  text-align: center;
  width: 20%;
  background-color: #1F6DA8;
  color: #FFFFFF; }

.button.button--link {
  display: block;
  background-color: #1F6DA8;
  color: #FFFFFF; }

.login {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #2D3134; }
  .login__content {
    margin: 5% auto 0;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
    background: #C4C5C3; }
  .login__logo {
    padding: 20px; }
  .login__title {
    font-size: 20px;
    padding: 0 20px 20px; }
  .login__form {
    padding: 0 100px;
    text-align: left; }
  .login__list {
    padding: 10px; }
  .login__label-wrap {
    padding: 5px; }
  .login__label {
    font-size: 14px; }
  .login__input {
    padding: 14px 10px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #049FDA; }
  .login__image {
    width: 90px; }
  .login__button {
    text-align: center;
    padding: 20px 0 50px; }
  .login__flash {
    padding: 0 110px; }

.table {
  display: block;
  border: 1px solid #C4C5C3; }
  .table__head {
    background-color: #049FDA;
    font-size: 0; }
  .table__head-list, .table__body-list {
    display: inline-block;
    width: 13%;
    vertical-align: top;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
    color: #FFFFFF; }
    .table__head-list:first-child, .table__body-list:first-child {
      width: 9%; }
    .table__head-list:nth-child(8), .table__head-list:last-child, .table__body-list:nth-child(8), .table__body-list:last-child {
      width: 6%; }
  .table__body:nth-child(odd) {
    background: #EFFAFF;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666; }
  .table__body:last-child {
    border-bottom: none; }
  .table__body-list {
    color: #666666; }
  .table__view {
    color: #049FDA;
    cursor: pointer; }
  .table__note {
    color: #FF0000; }

.table.table--view-list .table__head-list,
.table.table--view-list .table__body-list {
  width: 33.3%; }

.pagination {
  padding: 45px 0 35px;
  text-align: center; }
  .pagination__list {
    display: inline-block;
    width: 30px;
    text-align: center;
    vertical-align: middle; }
  .pagination__link {
    font-size: 14px;
    color: #FFFFFF; }

.user-panel {
  display: inline-block;
  width: 76%;
  vertical-align: top;
  border-radius: 5px;
  border: 2px solid #C4C5C3;
  padding: 10px;
  background: #FFFFFF; }
  .user-panel__greetings {
    font-size: 35px;
    color: #2D3134;
    text-align: center;
    padding: 40px 0 20px;
    font-weight: 600; }
  .user-panel__subtitle {
    display: block;
    padding: 20px;
    font-size: 20px;
    color: #666666; }
  .user-panel__menu {
    padding: 20px 0 30px; }
  .user-panel__menu-list {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    padding: 20px 25px;
    text-align: center;
    border-bottom: 1px solid #C4C5C3;
    border-right: 1px solid #C4C5C3;
    height: 190px; }
    .user-panel__menu-list:hover {
      cursor: pointer;
      color: #049FDA; }
    .user-panel__menu-list:nth-child(3n) {
      border-right: none; }
    .user-panel__menu-list:nth-child(4), .user-panel__menu-list:nth-child(5), .user-panel__menu-list:nth-child(6) {
      border-bottom: none; }
  .user-panel__menu-link {
    display: block;
    color: #2D3134; }
  .user-panel__menu-text {
    font-size: 20px; }
  .user-panel__name {
    padding-top: 20px; }
  .user-panel__paragraph {
    font-size: 16px;
    line-height: 1.5em;
    color: #666666;
    padding: 3px 0; }
  .user-panel__icon {
    display: block;
    font-size: -webkit-xxx-large;
    padding-bottom: 10px;
    color: #CCCCCC; }

.user-panel__menu-link:hover .user-panel__icon {
  color: #049FDA; }

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%; }
  .modal__container {
    margin: 30px auto 0;
    width: 60%;
    background: #FFFFFF;
    border-radius: 7px;
    height: 600px; }
  .modal__header {
    position: relative; }
  .modal__close {
    position: absolute;
    right: 15px;
    font-size: 25px;
    top: 10px;
    font-weight: 600;
    cursor: pointer; }
  .modal__title {
    font-size: 20px;
    padding: 20px 30px 10px;
    border-bottom: 1px solid #024E6C; }
  .modal__button {
    padding-top: 20px;
    text-align: center; }

.view-info__content {
  padding: 15px;
  position: relative; }

.view-info__title {
  margin-bottom: 20px;
  padding: 15px 0 10px;
  font-size: 18px;
  color: #2D3134;
  border-bottom: 1px dotted #666666; }

.view-info__data {
  display: inline-block;
  width: 50%;
  padding: 15px 0; }

.view-info__label {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  vertical-align: middle;
  padding-bottom: 10px; }

.view-info__info {
  display: inline-block;
  width: 85%;
  font-size: 14px;
  vertical-align: middle;
  padding-left: 30px; }

.view-info__image {
  position: absolute;
  top: 65px;
  right: 20px; }

.view-info__image-wrapper {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%; }

.success-msg__content {
  padding: 50px 0; }

.success-msg__title {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #00930A;
  padding-bottom: 20px; }

.success-msg__icon {
  padding: 5px 0 20px; }

.success-msg__paragraph {
  font-size: 16px;
  text-align: center;
  color: #2D3134; }

.success-msg__buttons {
  margin: 50px auto;
  width: 40%; }

.success-msg__back {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 10px; }

.flash-message {
  margin-top: 15px;
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  border: 2px solid #05A205;
  text-align: left; }
  .flash-message__text-wrapper {
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle; }
  .flash-message__text-status {
    font-size: 18px;
    color: #05A205;
    padding-bottom: 5px; }
  .flash-message__text {
    font-size: 14px;
    color: #2D3134; }
  .flash-message__close {
    position: absolute;
    right: 10px;
    top: 6px;
    background: #05A205;
    padding: 3px 5px;
    border-radius: 50%; }
  .flash-message__close-msg {
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer; }
  .flash-message__icon {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    vertical-align: middle;
    color: #05A205; }

.flash-message.flash-message--error {
  border: 3px solid #FF5050; }
  .flash-message.flash-message--error .flash-message__close {
    background: #FF5050; }
  .flash-message.flash-message--error .flash-message__text-status,
  .flash-message.flash-message--error .flash-message__icon {
    color: #FF5050; }
