
/*COLORS*/
$primary-color: #2D3134; //darkgray
$secondary-color: #02ACEE; //blue
$tertiary-color: #666666; //gray
$light-gray: #C4C5C3; //lightgray
$white-color: #FFFFFF; //white


/*FONTSIZE*/
$title-fontsize: 35px;
$subtitle-fontsize: 20px;
$form-title: 18px;
$default-fontsize: 16px;
$secondary-fontsize: 14px;
$tertiary-fontsize: 12px;
